body{
<<<<<<< HEAD
	background-color: #F0F8FF;
}
h3, h4 {
	color: #DC143C;
=======
	background-color: #99FFCC;
}

h1, {
	font-family: "Lucida Console";
	color:#F8F8F6;
	text-align: center;

<<<<<<< HEAD
>>>>>>> origin/master
=======
}

p {
	font-family: "Times New Roman"
	color:#0A1A0F;
	font-size: 20;
>>>>>>> origin/master
}