@import url(http://fonts.googleapis.com/css?family=Scheherazade|Orbitron);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: 16px;
	background: url(images/OdeAction.Heckle.2015.cwl&amv.imagecreditMarcoBerardi.08.jpg) repeat center fixed;
/*	background: url(images/farewellblackfield.jpg) repeat center fixed;*/
	background-size: 100%;
	position: relative;
	overflow: auto;
}
/*
nav a{
	background-color: black;
	text-decoration: none;
	font-family: 'Orbitron';
	font-size: 12px;
	color: #000000;
	margin: 42px;
	padding-top: 40px;
	letter-spacing: 2px;
}
nav a:hover{
	color: white;
}
header a:hover{
	color: white;
}*/
/*body{
	background-color: #FFF;
	margin: 9px;
	background: url(images/OdeAction.Heckle.2015.cwl&amv.imagecreditMarcoBerardi.08.jpg) repeat center fixed;
	background-size: 100%;
}*/
section h1{
	font-family: 'Orbitron';
	font-size: 200px;
	color: #000;
	text-align: right;
    margin: 17%;
	letter-spacing: -244px;
}
h2{
	font-family: 'Orbitron';
	font-size: 12px;
	color: #898989;
	margin: -3px;
	letter-spacing: 10px;
	background-color: black;
	background-color: #000;
}

li{
	font-family: 'Scheherazade';
	font-size: 12px;
	color: #989898;
	letter-spacing: 3px;
	text-align: left;
	list-style: none;
}
p{
	font-family: 'Scheherazade';
	letter-spacing: 1px;
	font-size: 1em;
    color: #000;
/*    text-align: center;*/
    margin: auto;
	padding: 0px 3px 0px 20px;
}
h3{
	font-family: 'Scheherazade';
	font-variant: bold, small-caps;
	letter-spacing: 7px;
	font-size: 1em;
	margin: auto;
	background-color: white;
}	
h4{
	font-family: 'Scheherazade';
	font-variant: bold, small-caps;
	letter-spacing: 7px;
	font-size: 1em;
	margin: auto;
	background-color: white;
}

blockquote{
	width: 80%;
	font-family: 'Scheherazade';
	letter-spacing: 7px;
	font-size: 1em;
/*	font-variant: bold;*/
	margin: 60px auto 20px;
	background-color: rgba(255, 255, 255, 0.86);
	text-align: justify;
}
/*img{
	padding: 100px;
}*/
a{
	text-decoration: none;
	font-family: 'Scheherazade';
	letter-spacing: 7px;
	font-size: 1em;
	color: #000;
	margin: auto;
	background-color: transparent;
}
a:hover{
	color: greenyellow;
}

footer{
	font-family: 'Scheherazade';
	letter-spacing: 10px;
	font-weight: 700;
	font-size: 16px;
    color: #F7F7F7;
    text-align: right;
    margin: auto;
	padding: 0px 1%;
}
/*.fixed-nav-bar {
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 0px;
    text-align: center;
    position: fixed;
}*/
.lists{
    width: 270px;
    margin: 179px 17%;
    padding: 20px 40px 20px 40px;
    color: #A59C9C;
    text-align: center;
}
.home:hover{
	color: white;
}
.newbackground{
	background-color: white;
}
.test{
	padding-top: 30px;
	padding-left: 10%;
	width:auto;
	height:505px;
	background-color: #EAEAE9;
	display: block;
	margin-top: 20px;
}
.test1{
	padding-top: 30px;
	padding-left: 10%;
	width:auto;
	height:505px;
	background-color: #EAEAE9;
	display: block;
	margin-top: 20px;
}
.test2{
	padding-top: 30px;
	padding-left: 10%;
	width:auto;
	height:505px;
	background-color: #EAEAE9;
	display: block;
	margin-top: 20px;
}
/*.mainimage{
	padding-left: 10%;
}*/
/*.info{
	float:left;
}*/
.wrap{
	width: 50%;
	height: auto;
    margin: 10% auto;
    background-color: rgb(229, 231, 230);
    display: block;
/*    border: white 1px solid;*/
}
.col1 img{	
	padding: 0 0 0 0px;
	float:left;

}
.col1 iframe{
	float: left;
}
.col2 p{
	width: 500px;
	margin:10px 20px;
}
.gallery{
	margin: 0 auto;
/*	width:80%;
	background-color: #EAEAE9;*/
	float: left;

}
/*.col1{

}
.col2{

}
.col3{

}*/
.gallery img{
	width: 16%;
    padding: 4%;
/*    border: rgba(255, 255, 255, 0);*/
/*    border-style: solid;*/
}
.about{
	width: 80%;
	font-family: 'Scheherazade';
	font-size: 1em;
	font-variant: bold;
	margin: 60px auto 20px;
/*	background-color: white;*/
/*	text-align: center;*/
	float: left;
}
#clearfix{
	overflow: auto;
}
#heckle{
	width: 80%;
	font-family: 'Scheherazade';
	color: yellow;
	font-size: 1em;
	font-variant: bold;
	margin: 60px auto 20px;
    background: url(images/OdeAction.Heckle.2015.cwl&amv.imagecreditMarcoBerardi.13.jpg) center
    ;
	opacity: 50%;
	text-align: center;
}
@media only screen and (max-width: 480px) {
	blockquote{
	width: 290px;
}