@import url(http://fonts.googleapis.com/css?family=Scheherazade|Orbitron);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 20px;
  /*   background: url(images/cwl.jpg) repeat center fixed; */
/*  background: url(images/farewellblackfield.jpg) no-repeat right fixed;*/
   background: url(images/actionode.jpg) no-repeat right fixed;
  background-size: 60%;
  background-color: rgba(249, 156, 156, 0.16);
  position: relative;
  overflow: auto;
}
header{
  height: 0px;
}
nav a{
  text-decoration: none;
  font-family: 'Orbitron';
  font-size: 12px;
  color: #000000;
  margin: 42px;
  padding-top: 40px;
  letter-spacing: 2px;
}
.function jumpScroll() {
    window.scroll(0,150);
  }

nav a:hover{
  color: white;
}
header a:hover{
  color: white;
  }
h2{
  padding: 5px;
  font-family: 'Orbitron';
  font-size: 0.9em;
  letter-spacing: 0px;
  text-align: center;
  background-color: black;
  border-radius: 2px;
  font-style: italic;
}
h2 a{
  text-align: center;
  color: black;
}
h2 a:hover{
  color:white;
}
li{
/*  font-family: 'Orbitron';
  font-size: 12px;
  color: black;
  letter-spacing: 3px;
  text-align: left;*/
  list-style: none;
}
p{
  font-family: 'Scheherazade';
  letter-spacing: 1px;
  font-size: 1em;
  color: black;
  margin: auto;
  padding: 0px 3px 0px 20px;
}
h3{
  font-family: 'Scheherazade';
  font-style: italic;
  letter-spacing: 1px;
  font-size: 0.8em;
  margin: auto;
  text-indent: 20px;
  padding: 10px 20px;
/*  background-color: white;*/
} 
h4{
  font-family: 'Scheherazade';
  font-variant: bold, small-caps;
  letter-spacing: 7px;
  font-size: 1em;
  margin: auto;
  background-color: white;
}
blockquote{
    width: 350px;
    height: 350px;
    margin: 60px 13% 60px;
    border-radius: 180px;
    font-family: 'Orbitron';
    color: rgba(255, 137, 137, 0.55);
    overflow: hidden;
    text-align: justify;
}
img{ 
  width: 300px;
  height: auto;
  }
aside{
    color: #4C0F0F;
       z-index: 9999;
    width: 30%;
    margin: 25% 5%;
    padding:0 1px;
    font-family: 'Scheherazade';
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 500;
    text-align: justify;
}
aside a{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-family: 'Scheherazade';
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 500;
    padding: 30px;
    text-align: justify;
}
a{
  text-decoration: none;
  text-align: left;
  font-family: 'Scheherazade';
  letter-spacing: 7px;
  font-size: 1.2em;
  color: rgba(255,255,255, 0.42);
  text-align: center;
  margin: 1%;
  background-color: rgba(80, 15, 15, 0);
}
h2 a{
  text-align: center;
  color: black;
}
a:hover{
  color: rgb(170, 255, 151);
}

footer{
  font-family: 'Orbitron';
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 0.4em;
  color: #4C0F0F;
  text-align: right;
  margin: auto;
  padding: 0px 1% 20px;
  z-index: 9999;
  position: fixed;
}

.fixed-nav-bar {
    top: 0;
    z-index: 9999;
    width: 60%;
    margin-left: 40%;
    height: 0px;
    color: #4C0F0F;;
    text-align: center;
    position: fixed;
}
.fixed-nav-bar a{
  font-family: 'Orbitron';
  letter-spacing: 4px;
  font-weight: 700;
  font-size: 0.55em;
  color: rgba(170, 255, 151, 0.79);
  margin: auto;
  background-color: black;
  padding: 0px 5% 0px;
}
.fixed-nav-bar a:hover{
  color: white;
}

.lists{
    font-family: 'Scheherazade';
    width: 30%;
    margin: 50px 55%;
    font-size: 1em;
    padding: 18px -5px 20px 190px;
    text-align: center;
    float: left;
}
.exhibitions{
    width: 60%;
    margin-left: 40%;
    color: rgba(204, 61, 204, 0.88);
    font-family: 'Scheherazade';
    letter-spacing: 61px;
    font-size: 1.1em;
    font-weight: 500;
    padding: 30px;
    text-align: justify;
}
.home:hover{
  color: white;
}
.test3{
    padding: 30px;
    margin: auto;
    border: 10% 0;
    height: auto;
    display: block;
    margin-top: 20px;
}
.about{
  width: 80%;
  font-family: 'Scheherazade';
  font-size: 1em;
  font-variant: bold;
  margin: 60px auto 20px;
  float: left;
}
.container {
    top: 50px;
    left: 0;
    z-index: 9999;
    position: fixed;
    width: 30%;
    /* padding: 20px; */
    /* border: rgba(31,31,31, 0.88) solid 3px; */
    border-radius: 5px;
    /*    border-top: rgba(31, 31, 31, 0.88) solid 25px;*/
    background-color: black;
    margin: 20px 5% 50px;
}
.slidesjs-pagination-item{
  display:none;
  }

.slidesjs-previous slidesjs-navigation{
}

.slidesjs-next slidesjs-navigation{
}

#clearfix{
  overflow: auto;
}

#wrapper {
  padding: 0px;
  }

#slides{
}

@media only screen and (max-width: 480px) {
  blockquote{
  width: 290px;
}

