@import url(http://fonts.googleapis.com/css?family=Scheherazade|Orbitron);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
/*   background: url(images/cwl.jpg) repeat center fixed; */
      background: url(images/375940_4471694068029_1187996201_n.jpg) repeat center fixed; 
/*   background: url(images/farewellblackfield.jpg) repeat center fixed; */
/* background: url(images/OdeAction.Heckle.2015.cwl&amv.imagecreditMarcoBerardi.08.jpg) repeat center fixed;*/
  background-size: 100%;
  position: relative;
  overflow: auto;
}
section h1{
    font-family: 'Orbitron';
    font-size: 200px;
    color: #000;
    text-align: right;
    margin: 160px 17% 0px;
    letter-spacing: -244px;
}
h2{
  padding: 5px;
  font-family: 'Orbitron';
  font-size: 0.9em;
/*  color: #898989;*/
  margin: -3px;
  letter-spacing: 0px;
  text-align: center;
  /* background-color: black; */
  background-color: rgba(0, 0, 0, 0.71);
  border-radius: 2px;
  font-style: italic;
}
h2 a{
  text-align: center;
  color: black;
}
h2 a:hover{
  color:white;
}
li{
  font-family: 'Orbitron';
  font-size: 12px;
  color: black;
  letter-spacing: 3px;
  text-align: left;
  list-style: none;
}
p{
  font-family: 'Scheherazade';
  letter-spacing: 1px;
  font-size: 1em;
  color: black;
  margin: auto;
  padding: 0px 3px 0px 20px;
}
h3{
  font-family: 'Scheherazade';
  font-style: italic;
  letter-spacing: 1px;
  font-size: 0.8em;
  margin: auto;
  text-indent: 20px;
  padding: 10px 20px;
/*  background-color: white;*/
} 
h4{
  font-family: 'Scheherazade';
  font-variant: bold, small-caps;
  letter-spacing: 7px;
  font-size: 1em;
  margin: auto;
  background-color: white;
}
blockquote{
    width: 300px;
    height: 300px;
    margin: 60px 16% 60px;
    border-radius: 180px;
    font-family: 'Orbitron';
    color: rgba(255, 137, 137, 0.55);
    overflow: hidden;
    /* text-decoration: overline; */
    text-align: justify;
/*    background-color: rgba(10, 10, 10, 0.68);*/
}
img{ 
  width: 300px;
  height: auto;
  }
aside{
    color: white;
/*    color: #0A0A0A;
    background-color: rgba(240, 248, 255, 0.44); */
    /* background-color: rgba(240, 248, 255, 0.44); */
    width: 33%;
    margin: 0 54%;
    padding:0 1px;
    /* margin-top: 20px; */
    font-family: 'Scheherazade';
    letter-spacing: 1px;
    font-size: 0.9em;
    font-weight: 500;
    text-align: justify;
    border-radius: 3px;
    /* float: left; */
}
aside a{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-family: 'Scheherazade';
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 500;
    padding: 30px;
    text-align: justify;

}
/*img{
  padding: 100px;
}*/
a{
  text-decoration: none;
  text-align: left;
  font-family: 'Scheherazade';
  letter-spacing: 7px;
  font-size: 1.1em;
  color: rgba(255,255,255, 0.42);
  text-align: center;
  margin: 1%;
  background-color: rgba(80, 15, 15, 0);
}
h2 a{
  text-align: center;
  color: black;
}
a:hover{
  color: #66FF33;
}

footer{
  font-family: 'Scheherazade';
  letter-spacing: 10px;
  font-weight: 700;
  font-size: 16px;
  color: #F7F7F7;
  text-align: right;
  margin: auto;
  padding: 0px 1%;
}
.fixed-nav-bar {
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 0px;
    text-align: center;
    position: fixed;
}
.lists{
    font-family: 'Scheherazade';
    width: 270px;
    margin: 50px 17%;
    font-size: 1em;
    padding: 18px -5px 20px 190px;
    text-align: center;
}
.exhibitions{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    color: rgba(204, 61, 204, 0.88);
    font-family: 'Scheherazade';
    letter-spacing: 61px;
    font-size: 1.1em;
    font-weight: 500;
    padding: 30px;
    text-align: justify;


}
.home:hover{
  color: white;
}
.test{
  padding: 30px;
  width: 80%;
  margin: auto;
  border: 10% 0;
  height: 483px;
  background-color: #EAEAE9;
  display: block;
  margin-top: 20px;
}
.test1{
  padding-top: 30px;
  width: 80%;
  margin: auto;
  height:505px;
  background-color: #EAEAE9;
  display: block;
  margin-top: 20px;
}
.test2{
  padding: 30px;
  width: 80%;
  margin: auto;
  height:505px;
  background-color: #EAEAE9;
  display: block;
  margin-top: 20px;
  margin-bottom: 50px;
}
.test3{
    padding: 30px;
    /* width: 56%; */
    margin: auto;
    border: 10% 0;
    height: auto;
    /* background-color: rgba(234, 234, 233, 0.68); */
    display: block;
    margin-top: 20px;
}

.wrap{
  width: 834px;
  height: 500px;
  margin: 0 auto;
  background-color: rgb(229, 231, 230);
  display: block;
}
.col1 img{  
  padding: 0 0 0 0px;
  float:left;

}
.col1 iframe{
  float: left;
}
.col2 p{
  width: 500px;
  margin:10px 20px;
}
.gallery{
  margin: 0 auto;
  float: left;

}
.gallery img{
  width: 205px;
    padding: 5%;
    border: rgba(255, 255, 255, 0);
    border-style: solid;
}
.about{
  width: 80%;
  font-family: 'Scheherazade';
  font-size: 1em;
  font-variant: bold;
  margin: 60px auto 20px;
  float: left;
}
.container {
    width: 30%;
    /* padding: 20px; */
    /* border: rgba(31,31,31, 0.88) solid 3px; */
    border-radius: 5px;
/*    border-top: rgba(31, 31, 31, 0.88) solid 25px;*/
    background-color: rgba(31, 31, 31, 0.88);
    margin: 20px 10% 50px;
}
.slidesjs-pagination-item{
  display:none;
  }

.slidesjs-previous slidesjs-navigation{

}

.slidesjs-next slidesjs-navigation{

}

#clearfix{
  overflow: auto;
}

#wrapper {
  padding: 0px;
  }

#slides{
}

@media only screen and (max-width: 480px) {
  blockquote{
  width: 290px;
}

